*,
*::after,
*::before{
	margin: 0px;
	padding: 0px;
	box-sizing: inherit;  // To inherit box-sizing from "body" element
}

html{
	font-size: $reset-root-font-size;
	overflow-x: hidden;
}

body{
	font-family: $base-font-family;
	color: $body-color;
	background: $body-bg;
	font-size: $font-size-base;  // 1.6 * 10 (Root HTML font size) == 16px / 1rem = 10px
	box-sizing: border-box;

	@include media-breakpoint-down(sm) {
		font-size: $font-size-md;
	}
}